@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #19161f;
}

body{
    position: absolute;
    background: var(--primary);
    font-family: 'Roboto',sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    transition: 1s;
}
